{% extends 'base.html.twig' %}

{% block title %}Voir les post
{% endblock %}

{% block body %}

	{% include "public/shared/_side.html.twig" %}
	<div class="container mt-5">

   <div class="row mb-3">
   <div class="col-sm mx-4">
    {% include "public/shared/_navbar.html.twig" %} 
   </div>
   
     </div>		

				{% if users | length > 0 %}
					{{ knp_pagination_render(users) }}
					<div class="table-responsive-sm">

						<table class="table table-hover">

							<thead class="tete">
								<th>Son id</th>
								<th>Son Pseudo</th>
								<th>Son adresse mail</th>

								<th>Supprimer (utilisateur)
								</th>

							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td>{{ user.id }}</td>
										<td>{{ user.pseudo }}</td>
										<td>{{ user.email }}</td>


										<td>
											<a href="{{ path('admin_delete_user', {'id' : user.id}) }}" class="btn btn-danger">
												<i class="far fa-trash-alt"></i>
											</td>
										</td>
									</tr>
								</td>
							{% endfor %}
						</tbody>


					</table>
					{{ knp_pagination_render(users) }}
				</div>


			{% else %}
				<p>Aucun User inscrit!</p>
			{% endif %}


	{% endblock %}
