{% extends 'base.html.twig' %}

{% block title %}Voir les post
{% endblock %}

{% block body %}
{% include "public/shared/_side.html.twig" %}
<div class="container">
<div class="row mb-4">
   <div class="col-sm mx-5">
    {% include "public/shared/_navbar.html.twig" %} 
   </div>
   
     </div>

<div class="container">


<div class="row">

<div class="col-sm">
	<h5 style="font-weight: bold" id="tabletitle">Gestion Users et Post</h5>
	<a class="btn btn-success btn-sm" href="{{ path('admin_show_article') }}">Gérer les post</a>
	<a class="btn btn-success btn-sm" href="{{ path('admin_show_user') }}">Gérer les Utilisateurs</a>
</div>



</div>

</div>






	
			<div class="container mt-5">

			<div class="row">
			<div class="col-sm">
				
				{# ( der) #}
				<div class="table-responsive">
				<table class="table table-hover">
					<h5 style="font-weight: bold" id="tabletitle">Les 5 derniers Post</h5>

					<thead class="tete">

						<th>Pseudo</th>
						<th>titre</th>
						<th>description</th>


					</thead>
					<tbody>

						<tr>

							{% for article in articles %}
								<td>
									{{ article.user.pseudo}}

								</td>
								<td>
									{{article.titre}}
								</td>
								<td>
									{{article.description|raw}}
								</td>

							</tr>
						{% endfor %}
					</tbody>

                     </table>
					 </div>


</div>
</div>	
<div class="row mt-5">				{# ( der) #}
<div class="col-sm">
<div class="table-responsive">
					<table class="table table-hover">
						<h5 style="font-weight: bold" id="tabletitle">Les 5 derniers inscrits</h5>

						<thead class="tete">

							<th>pseudo</th>
							<th>adresse mail</th>


						</thead>
						<tbody>

							<tr>

								{% for user in users %}
									<td>
										{{user.pseudo}}

									</td>
									<td>
										{{user.email}}
									</td>

								</tr>
							{% endfor %}
						</tbody>

</table>
	</div>	
</div>
</div>
</div>

{% endblock %}
