{% extends 'base.html.twig' %}

{% block title %}Voir les post
{% endblock %}

{% block body %}

		{% include "public/shared/_side.html.twig" %}
	<div class="container mt-5">

   <div class="row mb-3">
   <div class="col-sm mx-4">
    {% include "public/shared/_navbar.html.twig" %} 
   </div>
   
     </div>	

	 <div class="container">
<div class="row">
<div class="col-sm">

<h3 class="showart" style=" font-weight:bold">Liste des Posts</h3>
		
				{% if articles | length > 0 %}
				
					<div class="table-responsive">

						<table class="table table-hover">

							<thead class="tete">
								<th>Son titre</th>

								<th>Son contenu</th>
								<th>Son Auteur</th>
								<th>Supprimer(Post)</th>

							</thead>
							<tbody>
								{% for article in articles %}
									<tr>
										<td>{{ article.titre }}</td>
										<td>{{article.description |raw }}</td>
										<td>{{ article.user.pseudo }}</td>


										<td>
											<a href="{{ path('admin_delete_article', {'id' : article.id}) }}" class="btn btn-danger">
												<i class="far fa-trash-alt"></i>
											</td>
										</td>

									</tr>
								{% endfor %}
							</tbody>
						</td>
					</tbody>


				</table>
				</div>
		

			

		
	{% else %}
		<p>Aucun Post écrit!</p>
	{% endif %}
<div >
{{ knp_pagination_render(articles) }}
</div>

</div>




</div>



	 </div>
				


		{# les post #}
			
{% endblock %}
