{% extends "base.html.twig" %}


{% block body %}

	{% include "public/shared/_side.html.twig" %}
	
<div class="container mt-5 pb-5">
{% include "public/shared/modal.html.twig" %}
    <div class="row " >
      <div class="col-sm mx-5" style="border:solid 1px black; border-radius:5px;">
	 
     
     <p style="text-align:center;font-size:25px;padding:10px"> Le système porte le nom de son inventeur, le Français Louis Braille (1809-1852) qui avait perdu la vue à la suite d'un accident. Élève à l'Institution royale des jeunes aveugles, il modifie et perfectionne le code Barbier. En 1829 paraît le premier exposé de sa méthode.</p>
 
      </div>

      
    </div>

    <div class="row">
     <div class="col-sm mx-5  mt-5 " style="border:solid 1px black; border-radius:5px">
      <h2 style="font-weight:bold;padding:10px"> Apprendre le braille facilement en 5 etapes</h2>
       
       <p style="font-size:20px">En braille standard, un caractère est représenté dans une matrice de six points sur deux colonnes, chaque caractère étant formé par un à six points en relief.
        Ces points sont numérotés de haut en bas et de gauche à droite: Par exemple, la lettre c se représente par les deux points supérieurs, soit la combinaison 1,4.
        Les chiffres sont toujours précédés du point braille 6 pour les differencier des lettres </p>


						
<p>Il y a 6 points dans une cellule braille.Savoir où se situent les points et les espaces.</p>
<img src="{{ asset('images/ETAPE1.PNG') }}"style="max-width:8%" alt="etape1">							
							
<p>Les lettres de A a J.Ces lettres n'utilisent que les 4 points supérieurs sur les 6 de la cellule.</p>					
<img src="{{ asset('images/ETAPE2.PNG') }}"style="max-width:20%" alt="etape2">
							
<p>Les lettres de K a T.Elles sont identiques aux lettres A à J, sauf qu'elles possèdent un point additionnel en position 3.</p>							
<img src="{{ asset('images/ETAPE3.PNG') }}" style="max-width:20%"alt="etape3">						
					
<p>Les lettres U, V, X, Y et Z.Ce sont les mêmes que les lettres A à E, sauf qu'elles ont un point supplémentaire en positions 1 , 3 et 6.	</p>						
<img src="{{ asset('images/ETAPE4.PNG') }}"style="max-width:20%" alt="etape4">						
						
<p>	Le W, ne suit pas ce schéma. Car le braille a été écrit à l'origine pour le Français, qui a l'époque ne contenait pas de W.	</p>					
<img src="{{ asset('images/ETAPE5.PNG') }}"style="max-width:5%" alt="etape5">						
							

</div>

</div>

 
	
{% endblock %}
