{% extends 'base.html.twig' %}

{% block title %}Voir les post
{% endblock %}

{% block body %}
{% include "public/shared/_side.html.twig" %} 
<div class="container mt-5" >


<div class="row mb-3">
   <div class="col-sm mx-4">
    {% include "public/shared/_navbar.html.twig" %} 
   </div>
   
     </div>

<h3 style="text-align:center" class="mt-2">Vos partages </h3>


{% if app.user %}
{% if app.user.roles[0] is same as "ROLE_USER" %}
<div class="row mb-2">

<div class="col-sm mx-5" style="padding:10px">
 <a style="text-align:center"class="btn btn-light btn-sm" type="button" href="{{ path('auteur_home') }}" >Voir mes articles</a> 
 <a style="text-align:center"class="btn btn-warning btn-sm" type="button" href="{{ path('create_article') }}" >Ecrire un article</a> 


</div>
</div>
{% endif %}
{% endif %}
</nav>	


<div class="row">

{# {% include "public/shared/_messages_flash.html.twig" %} #}
<div class="col-sm mx-5" style="border:solid 1px black; border-radius:5px;padding:10px">
<div class="table-responsive-sm">
			

			{% if articles | length > 0 %}

				{{ knp_pagination_render(articles) }}

				<table class="table table-hover">

					<div class="table">
						<tr class="tete">
							<th>Date
							</th>
							<th>titre
							</th>
							<th>Pseudo</th>
							<th>Voir le détail</th>

							{% if app.user %}
								<th>contacter</th>
							{% endif %}
						</tr>
					</tr>

					<tr>
						{% for article in articles %}
							<td>{{ article.createdAt | date('d-m-Y') }}</td>
							<td>{{ article.titre  }}</td>


							<td>{{ article.user.pseudo }}</td>
							<td>
								<a href="{{ path('show_articles_detail', {'id' : article.user.id}) }}" class="btn btn-warning">
									<i class="fas fa-eye"></i>
								</td>
								{% if app.user %}
									<td>
										<a href="{{ path('contact_between_users', {'id' : article.user.id}) }}" class="btn btn-success">
											<i class="fas fa-envelope"></i>
										</td>
									</td>
								{% endif %}

							</td>
						</tr>
					{% endfor %}
				</tr>
			</tr>
		</div>
	</table>
	{{ knp_pagination_render(articles) }}
{% else %}
	<p style="font-size:20px;text-align:center" class="mt-5">Aucun article n'a encore été écrit!</p>
{% endif %}



</div>
		
</div>
</div>

{% endblock %}
